<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Quiz Test</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <img src="assets/icon/quiz.jpg" style=width:100% >
        </div>
  <br/>
  <h1 style="text-align:center">Test yourself</h1>
  <br/>

  <ion-button expand="block" color="secondary" (click) = "home()" >HTML Quiz</ion-button><br/>
  <ion-button expand="block" color="secondary" (click) = "test2()" >PHP Quiz</ion-button><br/>
  <ion-button expand="block" color="secondary" (click) = "test3()" >SQL Quiz</ion-button>

 
</ion-content>
