.results{
    // background-color:rgb(18, 236, 218);
    text-align: center;
    color:white;
    
}
ion-content{
  
    --background: url("/assets/icon/background.jpg")0 0/100% 100% no-repeat;
  
  }