<ion-header>
  <ion-toolbar color="secondary">
    <ion-title><ion-icon name="arrow-round-back" (click)="back()"></ion-icon>
      SQL Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <div class="test" *ngIf="t">
        <ion-radio-group [(ngModel)]= "question1">
          <ion-list-header>
            <ion-label >What does SQL stand for?</ion-label>
          </ion-list-header>
  
          <ion-item>
              <ion-radio slot="start" color="success" value="A correct"  ></ion-radio>
            <ion-label>A - Structured Query Language</ion-label> 
          </ion-item>
  
          <ion-item >
              <ion-radio slot="start" color="success" value="B incorrect"  ></ion-radio>
            <ion-label>B - Strong Question Language</ion-label>
          </ion-item>
  
          <ion-item>
              <ion-radio slot="start" color="success" value="C incorrect"  ></ion-radio>
            <ion-label>C - Structured Question Language</ion-label>  
          </ion-item>
        </ion-radio-group>
  
        <ion-radio-group [(ngModel)]="question2">
          <ion-list-header>
            <ion-label>Which SQL statement is used to update data in a database?</ion-label>
          </ion-list-header>
  
          <ion-item>
              <ion-radio slot="start" color="success" value="A incorrect"></ion-radio>
            <ion-label>A - SAVE</ion-label>
          </ion-item>
  
          <ion-item>
            <ion-radio slot="start" color="success" value="B correct"></ion-radio>
            <ion-label>B - UPDATE</ion-label>
          </ion-item>
  
          <ion-item>
            <ion-radio slot="start" color="success" value="C incorrect"></ion-radio>
            <ion-label>C - MODIFY</ion-label>
          </ion-item>
  
        </ion-radio-group>
  
        <ion-radio-group [(ngModel)]="question3">
            <ion-list-header>
              <ion-label>Which SQL statement is used to delete data from a database?

                </ion-label>
            </ion-list-header>
  
            <ion-item>
                <ion-radio slot="start" color="success" value="A correct"></ion-radio>
              <ion-label>A - 	DELETE</ion-label>
              
            </ion-item>
    
            <ion-item>
                <ion-radio slot="start" color="success" value="B incorrect"></ion-radio>
              <ion-label>B - COLLAPSE</ion-label>
              
            </ion-item>
    
            <ion-item>
                <ion-radio slot="start" color="success" value="C incorrect"></ion-radio>
              <ion-label>C - REMOVDE</ion-label>  
            </ion-item>
          </ion-radio-group>
  
          <ion-radio-group [(ngModel)]="question4">
              <ion-list-header>
                <ion-label >Which SQL statement is used to extract data from a database?</ion-label>
              </ion-list-header>
    
              <ion-item>
                  <ion-radio slot="start" color="success" value="A incorrect"></ion-radio>
                <ion-label>A - EXTRACT</ion-label>
                
              </ion-item>
      
              <ion-item>
                  <ion-radio slot="start" color="success" value="B correct"></ion-radio>
                <ion-label>B - SELECT </ion-label>
                
              </ion-item>
      
              <ion-item>
                  <ion-radio slot="start" color="success" value="C incorrect"></ion-radio>
                <ion-label>C - GET</ion-label>  
              </ion-item>
            </ion-radio-group>
  
            <ion-radio-group [(ngModel)]="question5"> 
                <ion-list-header>
                  <ion-label>Which SQL statement is used to return only different values?</ion-label>
                </ion-list-header>
      
                <ion-item>
                    <ion-radio slot="start" color="success" value="A incorrect"></ion-radio>
                  <ion-label>A - SELECT UNIQUE</ion-label>
                  
                </ion-item>
        
                <ion-item>
                    <ion-radio slot="start" color="success" value="B correct"></ion-radio>
                  <ion-label>B - SELECT DISTINCT</ion-label>
                  
                </ion-item>
        
                <ion-item>
                    <ion-radio slot="start" color="success" value="C incorrect"></ion-radio>
                  <ion-label>C - SELECT DIFFERENT</ion-label>  
                </ion-item>
              </ion-radio-group>
              <ion-button expand="block" color="secondary" (click) = "submit()">Submit Test</ion-button>
            </div>
      </ion-list>
       
   
  <div class ="results" *ngIf="test3">
   <h1>Results</h1>
  
    <h3> Your answer is as follows:</h3>
  
   <p>Question 1 is {{question1}}</p>
  
   <p> Question 2 is {{question2}} </p>
  
   <p>Question 3 is {{this.question3}} </p>
  
   <p> Question 4 is {{this.question4}} </p>
  
   <p>Question 5 is {{this.question5}} </p>
  
   <h4><b>Total {{this.score}}</b></h4>
   <!-- <ion-button expand="block" color="secondary" (click) = "back()">Menu</ion-button> -->
  </div>

</ion-content>
